[SddmGreeterTheme]
Name=savarez
Description=SavarezOS Plasma Theme
Author=Ananda Anugrah H
Type=sddm-theme
Version=1.0
Website=https://github.com/AnandaAnugrahHandyanto/SavarezOS-Plasma
Theme-Id=savarez
Theme-API=2.0
QtVersion=6
