[Appearance]
Name=savarez
Description=SavarezOS Plasma Theme
Author=Ananda Anugrah
Config=theme.conf
Type=sddm-theme
Version=1.0
Website=https://github.com/anandaanugrahhandyanto/savarezos-plasma
Theme-Id=savarez
Theme-API=2.0
