[Desktop Entry]
Type=Application
Name=Install SavarezOS
Comment=Install SavarezOS to Disk
Exec=pkexec calamares
Icon=system-installer
Terminal=false
Categories=System;Installer;
