[Desktop Entry]
Name=SavarezOS
Comment=SavarezOS Plasma Desktop
X-KDE-PluginInfo-Name=savarezos
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=SavarezOS
X-KDE-PluginInfo-License=GPL
