name: Build SavarezOS Plasma ISO

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            live-build \
            squashfs-tools \
            xorriso \
            grub-pc-bin \
            grub-efi-amd64-bin

      - name: Build ISO
        run: |
          chmod +x build.sh
          sudo ./build.sh

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: SavarezOS-Plasma-ISO
          path: "*.iso"
